@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  
  body {
    margin: 0.5cm;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .print\:shadow-none {
    box-shadow: none !important;
  }
}